<html ng-app="borrowsimply">
<head lang='en'>
	<meta charset='UTF-8'>
	<title>Phones</title>
		<link rel="stylesheet" href="style.css">
		<script src="angular.js"></script>
		<script src="angular-route.js"></script>
		<script src="app.js"></script>
	</head>
<body ng-app="borrowsimply">
	<div ng-controller="ItemController as itemCtrl">
		<table>
			<tr class="table-title">
				<td>ID</td>
				<td>Phone_name</td>
				<td>OS</td>
				<td>Status</td>
				<td>actions</td>
				<td>Comments</td>
			</tr>
			<div class="styled-select">
				<select ng-options="user as user.login for user in users" value="{{ user.id }}" ng-model="selectedUser">{{ user.login }}</option>
			</div>
			</select>
			<tr ng-repeat="p in items">
				<td>{{ p.id }}</td>
				<td>{{ p.name }}</td>
				<td>{{ p.os }}</td>
				<td>{{ getStatus(p) }}</td>
				<td>
					<button class='button-take' ng-show="availableAction(p) == 'Take'" ng-click='takeItem(p)'>Take</button>
					<button class='button-return' ng-click="freeItem(p)" ng-show="availableAction(p) == 'Return'">Return</button>
					<button class='button-taken' disabled ng-show="availableAction(p) != 'Take' && availableAction(p) != 'Return'">Taken</button>
				</td>
				<td>{{ p.comments }}</td>
			</tr>
		</table>
	</div>
</body>
</html>