table {
	margin: 8px;
	background-color: linen;
	margin: auto;
	text-align: center
}

.table-title td {
	text-transform: uppercase;
	font-weight: bold;
}

td {
	font-family: Lucida Console;
	font-size: .7em;
	border: 1px solid #DDD;
}

button {
	text-align: center;
	width: 100px;
}

.button-take {
	content: 'Take item';
	color: green;
	font-weight: bold;
}

.button-return {
	content: 'Return item';
	color: red;
	font-weight: bold;
}

.styled-select select {
   background: #989898;
   text-align:center;
   width: 220px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
}

.history-icon {
	max-width: 20px;
}