table {
	margin: 8px;
	background-color: linen;
	margin: auto;
	text-align: center
}

.table-title td {
	text-transform: uppercase;
	font-weight: bold;
}

td {
	font-family: Lucida Console;
	font-size: .7em;
	border: 1px solid #DDD;
}

button {
	text-align: center;
	width: 60px;
}

.button-free {
	content: 'Take phone';
	color: green;
	font-weight: bold;
}