table {
	margin: 8px;
	background-color: linen;
	margin: auto;
	text-align: center;
	width: 100%
}

.table-title td {
	text-transform: uppercase;
	font-weight: bold;
}

tr:hover td {
	text-shadow: 0 0 1.5px #999;
}

td {
	font-family: Lucida Console;
	font-size: .7em;
	border: 1px solid #DDD;
}

td.item-status {
	width: 160px;
}

.item-actions button {
	text-align: center;
	width: 100px;
}

.button-take {
	content: 'Take item';
	color: green;
	font-weight: bold;
}

.button-return {
	content: 'Return item';
	color: red;
	font-weight: bold;
}

.styled-select select {
   background: white;
   text-align:center;
   width: 140px;
   padding: 5px;
   font-size: 16px;
   font-family: sans-serif;
   line-height: 2;
   border: 10;
   border-radius: 0;
   height: 34px;
}

.history-icon {
	max-width: 20px;
}

.working-section {
	font-family: Lucida;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

a, a:visited, a:active {
  color: #2d3644;
  text-decoration: none;
  border-bottom: 1px blue dotted;
}

a:hover {
  color: #5493ff;
  text-decoration: underline;
  border: none;
}

a.edit-comment {
	float: right;
	margin: auto;
	font-weight: bold;
}

input.input-comment {
	width: 90%;
	margin: auto;
	font-family: Lucida Console;
	text-align: center;
}

.add-item input {
	width: 90%;
	margin: auto;
	font-family: Lucida Console;
	text-align: center;
}

tr.i-taken td.item-status > span, tr .item-history > span {
  border-bottom: 1px dashed #999;
}
